header {
    padding: 20px;
    text-align: center;
    background-color: rgb(97, 28, 161);
    color: azure;

    span:hover {
        color: red;
    }

    a {
        display: ruby-text;
        padding-top: 20px;
    }
}
