main, section, #declarar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 1px;
    height: 100px;
}
section {
    align-items: center;
    flex-direction: column;
    opacity: 0.8;
    color: #f0ffff;
    z-index: 2;
    background: transparent;
}
main marquee {
    height: 30vh;
}
marquee, a, p {
    color: azure
}
